.auth-panel-mask {
  width: 100vw;
  height:  100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1005;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: none;
}

.auth-background-blur {
  filter: blur(8px);
}
