<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/"
>
<!--/*@thymesVar id="user" type="me.devld.tour.dto.user.UserProfile"*/-->
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="#{app.name}"></title>
  <link rel="icon" th:href="@{/static/favicon.ico}">
  <script th:src="@{/static/js/tour.js}"></script>
  <script>console.log('[[#{app.name}]]')</script>
  <link rel="stylesheet" th:href="@{/static/css/common.css}">
  <link rel="stylesheet" th:href="@{/static/css/iconfont/iconfont.css}">
  <link rel="stylesheet" th:href="@{/static/css/layout/default.css}">
</head>
<body>
<div class="layout-header dialog-back">
  <div class="site-brand">
    <a th:href="@{/}">
      <img class="site-icon" th:src="@{/static/favicon.ico}" th:alt="#{app.name}">
      <span class="site-title" th:text="#{app.name}"></span>
    </a>
  </div>
  <div class="menu-item">
    <a th:href="@{/spot}" th:text="#{ui.spot_list}"></a>
  </div>
  <div class="menu-item" sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/spot/edit}" th:text="#{ui.create_spot}"></a>
  </div>
  <div class="menu-item" sec:authorize="isAuthenticated()">
    <a th:href="@{/travel/edit}" th:text="#{ui.write_travel_notes}"></a>
  </div>
  <div class="menu-placeholder" layout:fragment="menu1"></div>
  <div class="menu-placeholder" layout:fragment="menu2"></div>
  <div class="menu-placeholder" layout:fragment="menu3"></div>
  <div class="user-area">
    <div sec:authorize="isAuthenticated()" class="current-user" th:href="@{/user}">
      <img class="user-avatar" th:src="@{${user.avatar}}" th:alt="${user.username}">
      <span class="user-nickname" th:text="${user.nickname}" th:title="${user.nickname}"></span>
      <div class="user-menus">
        <div class="user-menus-item">
          <span
            th:text="#{ui.welcome} + ', ' + (${user.userType.ordinal() == 1} ? #{ui.admin_user} : ${user.nickname})"></span>
        </div>
        <div class="user-menus-item"><a th:href="@{/user}" th:text="#{ui.my_profile}"></a></div>
        <div class="user-menus-item"><a th:href="@{/user/change-password}" th:text="#{ui.change_password}"></a></div>
        <div class="user-menus-item"><a href="javascript: Tour.Auth.logout()" th:text="#{ui.logout}"></a></div>
      </div>
    </div>
    <a sec:authorize="!isAuthenticated()" class="link" href="javascript: Tour.Auth.showAuthDialog()"
       th:text="#{ui.login_or_register}"></a>
  </div>
</div>
<div class="content-container dialog-back">
  <div layout:fragment="content">nothing</div>
</div>
</body>
</html>
