<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:p="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--/*@thymesVar id="user" type="me.devld.tour.dto.user.UserProfile"*/-->
<head th:switch="${title}">
  <title
    th:text="${title} == 'hot' ? #{ui.travel_notes_hot_list} : ( ${title} == 'spot' ? #{ui.travel_of_spot(${spot.spot.name})} : '' )"></title>
  <link rel="stylesheet" th:href="@{/static/css/travel-notes/notesList.css}">
</head>
<body>
<div class="travel-notes" layout:fragment="content">
  <div class="travel card" th:each="note : ${notes}">
    <div class="cover"><img th:src="@{${note.coverUrl != null} ? ${note.coverUrl} : '/static/image/travel-notes.jpg'}"
                            th:alt="${note.travelNotes.title}"></div>
    <div class="main">
      <h2 class="title"><a th:href="@{${'/travel/' + note.travelNotes.id}}" th:text="${note.travelNotes.title}"></a>
      </h2>
      <div class="summary" th:text="${note.shortContent}"></div>
      <div class="info">
        <div class="author">
          <a target="_blank" th:href="@{${'/user/' + note.author.username}}">
            <img class="avatar" th:src="@{${note.author.avatar}}" th:alt="${note.author.username}">
            <span class="nickname" th:text="${note.author.nickname}"></span>
          </a>
        </div>
        <div class="mark">
        <span class="like" th:title="#{ui.like_icon(${note.travelNotes.likeCount})}"><i
          class="iconfont">&#xe8c4;</i><span class="count"
                                             th:text="${note.travelNotes.likeCount}"></span></span>
          <span class="collect" th:title="#{ui.collect_icon(${note.travelNotes.collectCount})}"><i class="iconfont">&#xe600;</i><span
            class="count"
            th:text="${note.travelNotes.collectCount}"></span></span>
          <span class="share" th:title="#{ui.share_icon(${note.travelNotes.shareCount})}"><i
            class="iconfont">&#xe60f;</i><span class="count"
                                               th:text="${note.travelNotes.shareCount}"></span></span>
        </div>
        <div class="time">
          <time
            th:datetime="${#dates.formatISO(new java.util.Date(note.travelNotes.createdAt))}"
            th:text="${#dates.format(new java.util.Date(note.travelNotes.createdAt), 'yyyy-MM-dd HH:mm:ss')}"></time>
        </div>
      </div>
    </div>
  </div>
  <div class="page"><span class="pagination" p:pagination="${notes}"></span></div>
</div>
</body>
</html>
