<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--/*@thymesVar id="user" type="me.devld.tour.dto.user.UserProfile"*/-->
<head>
  <title th:text="${note.travelNotes.title} + ' - ' + #{app.name}"></title>
  <link rel="stylesheet" th:href="@{/static/css/travel-notes/notesDetail.css}">
</head>
<body>
<div class="wrapper" layout:fragment="content">
  <article class="travel-note">
    <h1 th:text="${note.travelNotes.title}"></h1>
    <div class="info">
      <div class="author">
        <a target="_blank" th:href="@{${'/user/' + note.author.username}}">
          <img class="avatar" th:src="@{${note.author.avatar}}" th:alt="${note.author.username}">
          <span class="nickname" th:text="${note.author.nickname}"></span>
        </a>
      </div>
      <div class="time">
        <span th:text="#{ui.publish_at}"></span>
        <time
          th:datetime="${#dates.formatISO(new java.util.Date(note.travelNotes.createdAt))}"
          th:text="${#dates.format(new java.util.Date(note.travelNotes.createdAt), 'yyyy-MM-dd HH:mm:ss')}"></time>
      </div>
      <div class="user-mark">
        <travel-notes-mark-view :notes-id="notesId" v-model="marks"></travel-notes-mark-view>
      </div>
    </div>
    <div class="spots">
      <span th:text="#{ui.along_spots}"></span>
      <div class="spots-list">
        <div class="spot img-bg-v" th:each="spot : ${note.spots}">
          <img th:src="@{${spot.coverUrl}}" th:alt="${spot.name}" class="cover">
          <a class="img-bg-v-title" th:href="@{/spot/} + ${spot.id}"><span class="spot-title"
                                                                           th:text="${spot.name}"></span></a>
        </div>
      </div>
    </div>
    <div class="content" th:utext="${note.travelNotes.content}"></div>
    <div class="notes-menu">
      <a href="javascript: void(0)" @click="deleteNotes" class="link link-danger"
         th:text="#{ui.delete_travel_notes}"></a>
    </div>
  </article>
  <script>
    new Tour.Vue({
      el: '.wrapper',
      components: {TravelNotesMarkView: Tour.Views.TravelNotesMarkView},
      data() {
        return {
          notesId: +'[[${note.travelNotes.id}]]',
          marks: {
            like: {
              state: '[[${note.liked}]]' === 'true',
              count: +'[[${note.travelNotes.likeCount}]]'
            },
            collect: {
              state: '[[${note.collected}]]' === 'true',
              count: +'[[${note.travelNotes.collectCount}]]'
            }
          }
        }
      },
      methods: {
        deleteNotes() {
          Tour.confirm('[[#{ui.dialog.delete_notes_confirm}]]', '[[#{ui.delete_travel_notes}]]').then(() => {
            Tour.api.deleteSpot(this.spotId).then(() => {
              Tour.msg.success('[[#{ui.delete_successfully}]]')
              setTimeout(() => {
                window.location.href = '[[@{/}]]'
              }, 1000)
            }, e => {
              Tour.msg.error(e.message)
            })
          }, () => {
          })
        }
      }
    })
  </script>
</div>
</body>
</html>
