<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">
<!--/*@thymesVar id="user" type="me.devld.tour.dto.user.UserProfile"*/-->
<head>
  <title th:text="${spot.spot.name}"></title>
  <link rel="stylesheet" th:href="@{/static/css/spot/spotDetail.css}">
</head>
<body>

<!--  浏览游记 header 菜单 -->
<div class="menu-item" layout:fragment="menu1">
  <a th:href="@{'/travel/spot/' + ${spot.spot.id}}" th:text="#{ui.view_travel_notes}"></a>
</div>

<div class="spot-detail" layout:fragment="content">
  <div th:if="${spot.spot.state == 1}" class="deleted-tip" th:text="#{ui.deleted_spot_tip}">deleted spot</div>
  <div class="title">
    <h1 class="name" th:text="${spot.spot.name}">景点名称</h1>
  </div>
  <div class="user-mark">
    <spot-mark-view :spot-id="spotId" v-model="marks"></spot-mark-view>
  </div>
  <div class="photos">
    <div class="left"><img th:src="@{${photo1 != null} ? ${photo1.imgUrl} : '/static/image/spot.png'}"
                           th:alt="${spot.spot.name}"></div>
    <div class="right">
      <img th:src="@{${photo2 != null} ? ${photo2.imgUrl} : '/static/image/spot.png'}" th:alt="${spot.spot.name}">
      <img th:src="@{${photo3 != null} ? ${photo3.imgUrl} : '/static/image/spot.png'}" th:alt="${spot.spot.name}">
    </div>
    <div class="photo-count" th:text="#{ui.spot_photo_count(${spot.spot.photoCount})}"></div>
  </div>

  <div class="intro rich-text" th:utext="${spot.spot.intro}">景点介绍 - rich text</div>

  <div class="info">
    <div class="phone">
      <span class="info-title" th:text="#{ui.phone}">电话</span>
      <span th:text="${spot.spot.phone}"></span>
    </div>
    <div class="website">
      <span class="info-title" th:text="#{ui.website}">网址</span>
      <span th:text="${spot.spot.website}"></span>
    </div>
    <div class="time-usage">
      <span class="info-title" th:text="#{ui.spot_time_usage}">用时参考</span>
      <span th:text="${spot.spot.timeUsage}"></span>
    </div>
  </div>

  <div class="transport">
    <span class="info-title" th:text="#{ui.spot_transport}">交通</span>
    <div th:text="${spot.spot.transport}"></div>
  </div>

  <div class="tickets">
    <span class="info-title" th:text="#{ui.spot_ticket}">门票</span>
    <div th:if="${spot.tickets.size() > 0}">
      <span th:each="t : ${spot.tickets}" th:text="${t.name}"></span>
    </div>
    <div th:if="${spot.tickets.size() == 0}" th:text="#{ui.spot_no_ticket_info}"></div>
  </div>

  <div class="open-time">
    <span class="info-title" th:text="#{ui.spot_open_time}">开放时间</span>
    <div th:text="${spot.spot.openTime}"></div>
  </div>

  <div class="spot-map">
    <span class="map-title big-title" th:text="#{ui.spot_location_title}"></span>
    <location-map-view class="spot-map-view" :lng="lng" :lat="lat"></location-map-view>
  </div>

  <div class="spot-comments" th:if="${spot.spot.state == 0}">
    <span class="comment-title big-title" th:text="#{ui.spot_comment_title}"></span>
    <spot-comment-view :spot-id="spotId" :user-id="userId" :user-type="userType"/>
  </div>

  <div class="spot-admin-menu" sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/spot/edit(id=${spot.spot.id})}" class="link"
       th:text="#{ui.edit_spot}"></a>
    <a th:if="${spot.spot.state == 0}" href="javascript: void(0)" @click="deleteSpot" class="link link-danger"
       th:text="#{ui.delete_spot}"></a>
  </div>

  <script>
    new Tour.Vue({
      el: '.spot-detail',
      components: {
        LocationMapView: Tour.Views.LocationMapView,
        SpotCommentView: Tour.Views.SpotCommentView,
        SpotMarkView: Tour.Views.SpotMarkView
      },
      data() {
        return {
          lng: +'[[${spot.spot.location.longitude}]]',
          lat: +'[[${spot.spot.location.latitude}]]',
          spotId: +'[[${spot.spot.id}]]',
          userId: +'[[${user?.id}]]',
          userType: +'[[${user?.userType?.ordinal()}]]',
          marks: {
            went: {
              state: '[[${spot.went}]]' === 'true',
              count: +'[[${spot.spot.wentCount}]]'
            },
            collect: {
              state: '[[${spot.collected}]]' === 'true',
              count: +'[[${spot.spot.collectCount}]]'
            }
          }
        }
      },
      methods: {
        deleteSpot() {
          Tour.confirm('[[#{ui.dialog.delete_spot_confirm}]]', '[[#{ui.delete_spot}]]').then(() => {
            Tour.api.spot.deleteSpot(this.spotId).then(() => {
              Tour.msg.success('[[#{ui.delete_successfully}]]')
              setTimeout(() => {
                window.location.href = '[[@{/}]]'
              }, 1000)
            }, e => {
              Tour.msg.error(e.message)
            })
          }, () => {
          })
        }
      }
    })
  </script>
</div>
</body>
</html>
