<!DOCTYPE html>
<html lang="en" xmlns:p="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--/*@thymesVar id="user" type="me.devld.tour.dto.user.UserProfile"*/-->
<head>
  <title th:text="${title} == 'all' ? #{ui.spot_list} : (
                  ${title} == 'district' ? #{ui.spot_location(${district})} : (
                  ${title} == 'recommend' ? #{ui.spot_list_recommend} : (
                  ${title} == 'hot' ? #{ui.spot_list_hot} : '')))"></title>
  <link rel="stylesheet" th:href="@{/static/css/spot/spotList.css}">
</head>
<body>
<div class="container" layout:fragment="content">
  <div class="spots">
    <div class="spot card" th:each="spot : ${spots}">
      <div class="cover"><img th:alt="${spot.name}" th:src="@{${spot.coverUrl}}"></div>
      <a class="name" th:href="@{'/spot/' + ${spot.id}}" th:text="${spot.name}"></a>
      <div class="info">
        <span class="went-count" th:text="#{ui.spot_went_count(${spot.wentCount})}"></span><br>
        <span class="comment-count" th:text="#{ui.spot_comment_count(${spot.commentCount})}"></span>
      </div>
    </div>
    <div class="page"><span class="pagination" p:pagination="${spots}"></span></div>
  </div>
</div>
</body>
</html>
