<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--/*@thymesVar id="user" type="me.devld.tour.dto.user.UserProfile"*/-->
<head>
  <title th:text="#{ui.change_password}"></title>
  <style>
    .change-password {
      width: 400px;
      margin: 90px auto 0;
    }

    .change-password-view {
      background-color: #fff;
      padding: 40px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<div class="change-password" layout:fragment="content">
  <change-password-view class="change-password-view" @change-password="passwordChanged"></change-password-view>
  <script>
    new Tour.Vue({
      el: '.change-password',
      components: {ChangePasswordView: Tour.Views.ChangePasswordView},
      methods: {
        passwordChanged() {
          Tour.Auth.logout(function () {
            setTimeout(function () {
              window.location.href = '[[@{/}]]'
            }, 1000)
          })
        }
      }
    })
  </script>
</div>
</body>
</html>
