* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.iconfont-svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  background-color: #f1f1f1;
}

.paper {
  width: 97%;
  background-color: #fff;
  margin: 30px auto;
  padding: 40px;
  position: relative;
}

@media screen and (min-width: 640px) {
  .paper {
    width: 80%;
  }
}

@media screen and (min-width: 960px) {
  .paper {
    width: 800px;
  }
}

.button {
}

.link {
  text-decoration: none;
  color: #66ccff;
}

.link-danger {
  color: #ff5722;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.pagination {
  padding: 4px 10px;
  background-color: #fff;
  border-radius: 4px;
}

.pagination > a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 4px 6px;
}

.pagination > span {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 4px 6px;
}

.pagination .disabled {
  color: #aaa;
  cursor: not-allowed;
}

.pagination a:hover {
  color: #66ccff;
}

.pagination > * {
  margin: 0 4px;
}

.pagination .jump-page {
  display: inline-block;
}

.pagination .jump-page > input {
  text-align: center;
  border: none;
  width: 50px;
  outline: none;
}

.rich-text {
  line-height: 1.5;
}

.rich-text a {
  text-decoration: none;
  color: #66ccff;
}
